credito-diario-2023.csv
credito-anual-2023.csv
credito-anual-2023.zip
credito-diario-2020.csv
credito-diario-2020.zip
credito-diario-2021.csv
credito-diario-2022.csv
credito-diario-2023.zip
credito-diario-2021.zip
credito-diario-2022.zip
